<html>
<head>
	<meta charset="UTF-8" />
</head>
<div class="jumbotron" ng-controller="operadoraCtrl">
		<h4 ng-bind="funcionalidade"></h4>
		<hr />
		<br />
		
		<table class="table table-striped">
				<tr>
					<th>Código</th>
					<th>Descrição</th>
					<th>Código Operadora</th>
					<th>Ações</th>
				</tr>
				<tr ng-repeat="operadora in operadoras">
					<td>{{operadora.id}}</td>
					<td>{{operadora.descricao}}</td>
					<td>{{operadora.codigo}}</td>
					<td>
						<button class="glyphicon glyphicon-pencil" ng-click="editar(operadora)"></button>
						<button class="glyphicon glyphicon-remove" ng-click="excluir(operadora)"></button>
					</td>
				</tr>
		</table>

		<hr />
		<input type="text" ng-disabled="true" ng-model="operadora.id" class="form-control" placeholder="Código" />
		<input type="text" ng-model="operadora.descricao" class="form-control" placeholder="Descrição" />
		<input type="text" ng-model="operadora.codigo" class="form-control" placeholder="Código operadora" />
		
		
		<button ng-click="adicionar()" ng-show="!show_lterar" class="btn btn-primary btn-block">Adiconar</button>
		<button ng-click="alterar()" ng-show="show_lterar" class="btn btn-primary btn-block">Alterar</button> 
		<div class="alert alert-success" ng-show="message != ''" role="alert">{{message}}</div>
	</div>
</html>